.studio_introduce img{
    height: 600px;
    float: left;
    padding-right: 20px;
}
.studio_introduce p{
    font-size: 20px;
}
.login-input{
    margin-top: 7%;
    margin-left: 7%;
    padding-top: 50px;
    height: 244px;
    background: url(login.png) no-repeat center;
}
.green-button{

}
.login-field-font {
    font-family: '微软雅黑';
    font-size: 14px;
    color: #999999;
    text-align: left;
    margin-left: -14%;
}
